.subtitle-box {
    position: fixed;
    top: 50%;
    right: 10px;
    width: 500px;
    z-index: 100;
}
.subtitle-nav {
    color: white;
    background-color: red;
}
.subtitle-container {
    height: 500px;
    overflow: auto;
    background-color: black;
    color: white;
}
