.subtitle-box {
    position: fixed !important;
    top: 50%;
    right: 10px;
    width: 500px;
    z-index: 999;
    font-size: 19px;
    background-color: rgba(50, 50, 50,1) !important;
}
.subtitle-nav {
    border-bottom: 1px groove #FFFFFF;
    cursor: grab;
    background: transparent;
}
.subtitle-nav .btn {
    font-size: 2rem;
}
.subtitle-container {
    height: 500px;
    overflow: auto;
    color: white;
    background: transparent;
}

.subtitle-row {
    cursor: pointer;
}

.higlight-row {
    background-color: rgba(0, 0, 0, 0.71);
}

img, svg {
    /* unset this to reduce the affect on the youtue UI */
    vertical-align: unset !important;
}

